*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
/composeApp/Dev/release/*
/composeApp/Live/release/*
/composeApp/config/macos/embedded.provisionprofile
/composeApp/config/macos/runtime.provisionprofile
/composeApp/config/macos/entitlements.plist
/composeApp/config/macos/runtime-entitlements.plist
/composeApp/schemas/*